.brand-link {
  background-color: #25ab7b;
}
.dropdown-menu {
  width: 25 0px !important;
}

.main-sidebar {
  background-color: #ffffff;
}

.main-header {
  background-color: #25ab7b;
}

.main-footer {
  background-color: #25ab7b;
  color: #212529;
}

.nav-link > * {
  color: #212529;
}

.logo-title {
  color: #59bd99;
  font-weight: 500;
  letter-spacing: 3px;
}

.user-icon {
  width: 40px;
}

.active-style {
  background-color: #d5eee5;
}

.admin-profile {
  color: #212529;
}

.admin-profile:hover {
  color: #212529;
}

#admin-button {
  background-color: #25ab7b;
}

.admin-image {
  width: 40%;
  border: 1px solid #59bd99;
}
